.categories-section{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    color: darkolivegreen;
}
.categories-section form label{
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
}
.categories-section form div{
    display: flex;
}
.categories-section form div input{
    border: none;
    outline: none;
    border-bottom: 2px solid darkolivegreen;
}
.categories-section form div button{
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 2px;
    color: #fff;
    background-color: darkolivegreen;
    text-transform: capitalize;
}
.categories-section .allCategories{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.categories-section .allCategories>div{
    border-radius: 2px;
    border: 1px solid darkolivegreen;
    text-transform: capitalize;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}
.categories-section .allCategories>div div:last-of-type{
    display: flex;
    gap: 10px;
}
.categories-section .allCategories>div div button{
    border: none;
    outline: none;
    padding: 5px 20px;
    border-radius: 2px;
    color: #fff;
    background-color: darkolivegreen;
    text-transform: capitalize;
}
.categories-section .allCategories>button{
    border: none;
    outline: none;
    padding: 5px 20px;
    border-radius: 5px;
    color: #fff;
    background-color: darkolivegreen;
    text-transform: capitalize;
}